@model Troy.Web.Models.ConfigurationViewModels


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Designation</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="tabs">
                        <ul id="myTab" class="nav nav-tabs tabdrop">
                            <li class="active">
                                <a href="#Designation" data-toggle="tab">Designation</a>
                            </li>
                        </ul>
                    </div>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="Designation">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(m => m.Designation.Designation_Name)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Designation.Designation_Name, new { @class = "form-control control-text" })
                                            @Html.ValidationMessageFor(model => model.Designation.Designation_Name)
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
            <button class="btn pull-left" data-dismiss="modal">Close</button>
            @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })


        </div>
    </div>
</div>

